/* Ajuste para o Main não ficar sob o cabeçalho fixo */
.layout-sobre {
    display: flex;
    margin-top: 98px; /* Altura do seu header */
    min-height: calc(100vh - 98px);
    position: relative;
    align-items: flex-start;
}

/* Sidebar Fixa */
.sidebar-sobre {
    width: 35%;
    height: calc(100vh - 98px);
    position: sticky;
    top: 98px;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('imagens/placaCedicVertical.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding: 40px;
}

/* Conteúdo que rola */
.conteudo-principal {
    width: 65%;
    padding: 60px;
}

.secao-texto {
    margin-bottom: 30px;
}

.secao-texto strong, .linha-tempo strong  {
    color: rgb(0, 132, 74);
    margin-bottom: 20px;
    padding-bottom: 10px;
    
}

.secao-texto h2, .linha-tempo h2{
   border-bottom: 2px solid #eee;
}

.secao-texto p{
    padding-top: 10px;
    text-align: justify;
}

/* Estilo da Linha Cronológica */
.timeline-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}

.timeline-item {
    flex: 1;
    text-align: center;
}

.timeline-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: 0.3s;
}

.timeline-item img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.timeline-item span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Responsividade para Celulares */
@media (max-width: 1040px) {
    .layout-sobre {
        flex-direction: column; /* Empilha a sidebar sobre o conteúdo */
        margin-top: 140px; /* Ajuste se o header mobile for maior */
    }

    .sidebar-sobre {
        position: relative; /* Remove o sticky para não flutuar no topo */
        top: 0;
        width: 100%;
        height: 300px; /* Altura fixa para servir de banner no mobile */
        text-align: center;
        padding: 20px;
    }

    .conteudo-principal {
        width: 100%; /* Ocupa a largura total da tela */
        padding: 40px 20px;
    }
}


@media (max-width: 768px) {
    .timeline-container {
        flex-direction: column; /* Empilha os eventos da trajetória[cite: 4] */
        gap: 30px;
    }

    .timeline-item img {
        width: 80%;       /* Em vez de 100%, ela ocupa 80% da largura do celular */
        max-width: 500px;
    }

    .secao-texto h2 {
        font-size: 1.5rem; /* Ajusta títulos para não quebrarem linha de forma estranha */
    }
}