.banner{
    background-image: url(../../imagens/bannerQuimica.jpg);
    background-repeat: no-repeat; /*a imagem não repete, por mais que haja mais conteúdo do que o seu tamanho possa cobrir*/
    background-attachment: local; /*Conforme há a rolagem, a imagem fica estática. Ou seja, não acompanha o conteúdo*/
    background-size: cover; /*a imagem cobrirá todo o viewport/tela (mas somente uma vez)*/
    height: 225px;
    width: 100%;
    background-position: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.secaoExperimentos{
    width: 100%;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.divExperimentos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    border-bottom: 3px solid rgb(0, 132, 74);
    gap: 1rem;
}

.cardExperimentos{
    width: 300px;
    min-height: 100px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imgCard{
    width: 100%;
    max-width: 300px;
    max-height: 160px;
    border-radius: 5px;
    margin-bottom: 10px;
}

p{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: justify;
}

h2{
    border-left: 4px solid rgb(0, 132, 74);
    padding-left: 2px;
}

.divExperimentos a{
    transition-duration: 100ms;
    color: black;
}

.divExperimentos a:hover{
    transform: scale(0.95);
}

.divExperimentos a:active{
    transform: scale(0.95); 
}